src/main/resources/Transition.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:chia="http://NamespaceTest.com/CHIA" elementFormDefault="qualified">
	<xs:element name="transition">
		<xs:complexType>
			<xs:attribute name="id" type="xs:positiveInteger" use="required" />
			<xs:attribute name="source" type="xs:integer" use="required" />
			<xs:attribute name="destination" type="xs:integer" use="required" />
			<xs:attribute name="propositions" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>