COVER/src/main/resources/GOALMODEL.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GOALMODEL">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SCENARIO" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GOAL" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CAPTION"/>
                    <xs:element type="xs:float" name="DEN"/>
                    <xs:element type="xs:int" name="ID"/>
                    <xs:element type="xs:string" name="INPUT"/>
                    <xs:element type="xs:byte" name="INPUTFORCED"/>
                    <xs:element type="xs:byte" name="OP"/>
                    <xs:element type="xs:float" name="OUTPUTDEN"/>
                    <xs:element type="xs:float" name="OUTPUTSAT"/>
                    <xs:element type="xs:float" name="SAT"/>
                    <xs:element type="xs:byte" name="TOP"/>
                    <xs:element type="xs:byte" name="TYPE"/>
                    <xs:element type="xs:string" name="LTL" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="NAME" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="GRAPH">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NODE" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:boolean" name="BKCOLOR"/>
                    <xs:element type="xs:string" name="DESCRIPTION"/>
                    <xs:element type="xs:int" name="GOAL"/>
                    <xs:element type="xs:byte" name="H"/>
                    <xs:element type="xs:int" name="ID"/>
                    <xs:element type="xs:byte" name="W"/>
                    <xs:element type="xs:short" name="X"/>
                    <xs:element type="xs:short" name="Y"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CONNECTOR" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CTRLPOINT" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element type="xs:int" name="ENDNODE"/>
                    <xs:element type="xs:short" name="H"/>
                    <xs:element type="xs:byte" name="SAT"/>
                    <xs:element type="xs:byte" name="SHAPE"/>
                    <xs:element type="xs:int" name="STARTNODE"/>
                    <xs:element type="xs:byte" name="TYPE"/>
                    <xs:element type="xs:float" name="VALUE"/>
                    <xs:element type="xs:short" name="W"/>
                    <xs:element type="xs:short" name="X"/>
                    <xs:element type="xs:short" name="Y"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="VERSION"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
